numpy
pandas
scikit-learn
xgboost

langchain
langchain-google-genai
langchain-community
flask
flask-cors

google-generativeai

faiss-cpu
sentence-transformers

tiktoken

python-dotenv

matplotlib

requests
fastapi
uvicorn